@define-color accent_bg_color #88c0d0;
@define-color accent_color #88c0d0;
@define-color accent_fg_color #2e3440;

@define-color window_bg_color #2e3440;
@define-color window_fg_color #d8dee9;

@define-color view_bg_color #3b4252;
@define-color view_fg_color #e5e9f0;

@define-color headerbar_bg_color #3b4252;
@define-color headerbar_fg_color #eceff4;

@define-color sidebar_bg_color #2e3440;
@define-color sidebar_fg_color #d8dee9;

@define-color card_bg_color #434c5e;
@define-color card_fg_color #eceff4;

@define-color destructive_bg_color #bf616a;
@define-color success_bg_color #a3be8c;
@define-color warning_bg_color #ebcb8b;
@define-color warning_fg_color #2e3440;
@define-color error_bg_color #bf616a;
